.chat-button {
  background-color: white;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.chat-button:hover{
  background-color: #e0e0e0;
}

.chat-box{
  text-align: end;
}

.bi-chat-left-text{
  color: #cd9a2d;
}
