
@media only screen and (min-width: 10px) and (max-width: 540px) { 


    
        
.edit-hotel1.btn-primary {
    background-color: #cd9a2d !important;
    border-color: #cd9a2d !important;
    box-shadow: none;
    color: black;
  }
  
  .edit-hotel1.btn-primary:hover {
    box-shadow: none;
  }
  .edit-profile{
    text-align: end;
  }
  .edit-hotel1.btn {
    color: white;
    background-color: #cd9a2d;
    border: none !important;
    
  }
  
  .edit-hotel1.btn:focus,
  .edit-hotel1.btn:active,
  .edit-hotel1.btn:hover{
    background-color: #be8f2a;
    border: none !important;
    box-shadow: none !important;
  }

  
 }
@media only screen and (min-width: 540px) and (max-width: 720px) {  }
@media only screen and (min-width: 720px) and (max-width: 960px) {}  
@media only screen and (min-width: 960px) and (max-width: 1140px) {  }
@media only screen and (min-width: 1140px) and (max-width: 1320px) {}  
@media only screen and (min-width: 1320px) and (max-width: 3500px) {  }
    

        
.edit-hotel1.btn-primary {
    background-color: #cd9a2d !important;
    border-color: #cd9a2d !important;
    box-shadow: none;
    color: black;
  }
  
  .edit-hotel1.btn-primary:hover {
    box-shadow: none;
  }
  .edit-profile{
    text-align: end;
  }
  .edit-hotel1.btn {
    color: white;
    background-color: #cd9a2d;
    border: none !important;
    
  }
  
  .edit-hotel1.btn:focus,
  .edit-hotel1.btn:active,
  .edit-hotel1.btn:hover{
    background-color: #be8f2a;
    border: none !important;
    box-shadow: none !important;
  }