.stepper-wrapper-horizontal {
    display: flex;
    justify-content: space-between;

    .step-wrapper {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }


//dayere

    .step-number {
        border-radius: 50%;
        border: 1px solid#cd9a2d;
        width: 50px;
        height: 50px;
        padding: 5%;
        text-align: center;
        margin-bottom: 1.2rem;
    }
//khate bein
    .divider-line {
        height: 1px;
        background-color:#cd9a2d;
        position: absolute;
        top: 20%;
        left: 70%
    }

    .divider-line-2 {
        width: 296%
    }

    .divider-line-3 {
        width: 125%
    }

    .divider-line-4 {
        width: 70%
    }

    .divider-line-5 {
        width: 60%
    }
}


    .step-number-selected {
        border: 1px solid #cd9a2d;
        color: #fff;

    }

.step-number-disabled {
    border: 1px solid#cd9a2d
}



.step-description {
    // font-weight: bold;
    // font-style: italic;
    // color: solid#cd9a2d  ;
    color:#cd9a2d;   

    // font-family: 	Courier;
}
.step-description-active {
    // font-weight: bold;
// font-weight: 50%;
font-weight: bold   ;
    color: black;
     // font-style: italic;
    // color: solid#cd9a2d  ;
    // font-family: 	Courier;
}





// @media only screen and (min-width: 10px) and (max-width: 540px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#502dcd;
//             width: 50px;
//             height: 50px;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#2d60cd;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//       }

//   @media only screen and (min-width: 540px) and (max-width: 720px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#9dcd2d;
//             width: 50px;
//             height: 50px;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#cd9a2d;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//       }
//   @media only screen and (min-width: 720px) and (max-width: 960px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#cd522d;
//             width: 50px;
//             height: 50px;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#cd9a2d;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//         }

    
// @media only screen and (min-width: 960px) and (max-width: 1140px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#cd2daa;
//             width: 50px;
//             height: 50px;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#cd9a2d;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//       }



//   @media only screen and (min-width: 1140px) and (max-width: 1320px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#2dcdcd;
//             width: 50px;
//             height: 50px;
//             // position: relative;
//             position: absolute;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#cd9a2d;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         height: 5%;
//         width: 5%;
//         position: relative;
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//         }



//   @media only screen and (min-width: 1320px) and (max-width: 3500px) {  
//     .stepper-wrapper-horizontal {
//         display: flex;
//         justify-content: space-between;
    
//         .step-wrapper {
//             width: 23%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             position: relative;
//         }
    
    
//     //dayere
    
//         .step-number {
//             border-radius: 50%;
//             border: 1px solid#e79b0d;
//             width: 50px;
//             height: 50px;
//             padding: 5%;
//             text-align: center;
//             margin-bottom: 1.2rem;
//         }
//     //khate bein
//         .divider-line {
//             height: 1px;
//             background-color:#cd9a2d;
//             position: absolute;
//             top: 20%;
//             left: 70%
//         }
    
//         .divider-line-2 {
//             width: 296%
//         }
    
//         .divider-line-3 {
//             width: 125%
//         }
    
//         .divider-line-4 {
//             width: 70%
//         }
    
//         .divider-line-5 {
//             width: 60%
//         }
//     }
    
    
//         .step-number-selected {
//             border: 1px solid #cd9a2d;
//             color: #fff;
    
//         }
    
//     .step-number-disabled {
//         border: 1px solid#cd9a2d
//     }
    
    
    
//     .step-description {
//         // font-weight: bold;
//         // font-style: italic;
//         // color: solid#cd9a2d  ;
//         color:#cd9a2d;   
    
//         // font-family: 	Courier;
//     }
//     .step-description-active {
//         // font-weight: bold;
//     // font-weight: 50%;
//     font-weight: bold   ;
//         color: black;
//          // font-style: italic;
//         // color: solid#cd9a2d  ;
//         // font-family: 	Courier;
//     }
    
//         }



