.stepper-wrapper-horizontal {
    display: flex;
    justify-content: space-between;

    .step-wrapper {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }


//dayere

    .step-number {
        border-radius: 50%;
        border: 1px solid#cd9a2d;
        width: 50px;
        height: 50px;
        padding: 5%;
        text-align: center;
        margin-bottom: 1.2rem;
    }
//khate bein
    .divider-line {
        height: 1px;
        background-color:#cd9a2d;
        position: absolute;
        top: 20%;
        left: 70%
    }

    .divider-line-2 {
        width: 296%
    }

    .divider-line-3 {
        width: 125%
    }

    .divider-line-4 {
        width: 70%
    }

    .divider-line-5 {
        width: 60%
    }
}


    .step-number-selected {
        border: 1px solid #cd9a2d;
        color: #fff;

    }

.step-number-disabled {
    border: 1px solid#cd9a2d
}



.step-description {
    // font-weight: bold;
    // font-style: italic;
    // color: solid#cd9a2d  ;
    color:#cd9a2d;   

    // font-family: 	Courier;
}
.step-description-active {
    // font-weight: bold;
// font-weight: 50%;
font-weight: bold   ;
    color: black;
     // font-style: italic;
    // color: solid#cd9a2d  ;
    // font-family: 	Courier;
}
