.search-filter-box {
  background-color: #f8f8f8;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin-bottom: 1rem;
  --bs-gutter-x: 0;
}

.room-table {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
