.imgs_Login {
	position: relative;
	right: 0px;
	width: 300px;
	height: 300px;
}
.btn_Login {
	color: #003049;
}

.icon_Login {
	color: #c1121f;
}

.err_Login {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
	font-size: 11.5px;
	right: auto;
}
.lnk_Login {
	margin-right: 70px;
}
