.imgs {
	position: relative;
	right: 0px;
	width: 300px;
	height: 300px;
}
/* .btn {
	color: #003049;
} */

.icon {
	/* color: #c1121f; */
	color :#cd9a2d ;
}

.err {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
  	margin-left: 15px;
  	font-size: 11.5px;
  	right:auto;
}
