.searchForm {
   background-color: #ffffffb9;
   border-radius: 6px;
   max-width: 1296px;
   margin-top: 5px;
   flex-wrap: wrap;

   // @media screen and (min-width: 576px) {
   //    // margin-top: calc(30px + 10vw);
   //    flex-wrap: wrap;
   // }

   // @media screen and (min-width: 768px) {
   //    // margin-top: calc(100px + 15vw);
   //    flex-wrap: wrap;
   // }

   @media screen and (min-width: 992px) {
      // margin-top: calc(130px + 15vw);
      flex-wrap: nowrap;
   }

   // @media screen and (min-width: 1200px) {
   //    // margin-top: calc(160px + 15vw);
   //    flex-wrap: nowrap;
   // }
}

.cityPicker {
   padding: 0;

   // width: 100%;
   @media screen and (min-width: 992px) {
      width: 22%;
   }
}

.datePicker {
   & .datePicker.MuiInputBase-root {
      background-color: white;
   }

   @media screen and (min-width: 992px) {
      width: 21%;
   }
}

.personCountBox {
   @media screen and (min-width: 992px) {
      width: 21%;
   }

}

.searchButton {

   // border: none;
   // height: 56px;
   // border-width: 1px;
   // border-radius: 5px;
   // background-color: #ffe2a4;
   @media screen and (min-width: 992px) {
      width: calc(15% - 16px);
   }
}