.text-theme-white {
  color: #f8f9fa;
}

@font-face {
  font-family: logo_font;
  src: url(../../public/font/Donalia.ttf);
}
/******************************************** Header **************************************/
.header {
  position: relative;
  /* max-height: 600px; */
  min-height: 36vw; /*600px*/
}

.header .carousel {
  position: absolute;
}

.header .carousel-item img {
  /* max-height: 600px; */
  /* min-height: 600px; */
  width: 100%;
  /* min-width: 100%; */
}

.header .carousel-caption-style {
  color: black;
}

.number-of-guests-form {
  width: 300px;
}

.increase-button,
.decrease-button {
  background-color: #cd9a2d;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
}

.increase-button:focus,
.increase-button:active,
.increase-button:hover,
.decrease-button:focus,
.decrease-button:active,
.decrease-button:hover {
  background-color: #be8f2a;
  border: none !important;
  box-shadow: none !important;
}

.increase-button:disabled,
.decrease-button:disabled {
  background-color: #c99015;
}

/*****************************************footer******************************************/
.footer-bg-color {
  background-color: #cd9a2d;
}

/* X-small devices */
@media only screen and (max-width: 575.98px) {
  #carousel {
    display: none;
  }

  .search-form {
    margin-top: 2vw;
  }
}