.room-facilities.btn-secondary,
.room-facilities.btn-secondary:active {
  color: black;
  background-color: white;
  border-color: #c4c3c3;
}

.room-facilities.btn-secondary:focus {
  color: black;
  background-color: white;
  box-shadow: none;
  border: #dddddd;
  
}

.room-facilities.btn-secondary:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 15px 0 rgba(205, 154, 45, 0.8);
}

.hotel-room.btn-primary,
.hotel-room.btn-primary:active { 
  background-color: #cd9a2d !important;
  border-color: #cd9a2d !important;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel-room.btn-primary:focus {
  background-color: #cd9a2d !important;
  border-color: #cd9a2d !important;
  box-shadow: none;
  color: black;
}

.hotel-room.btn-primary:hover {
  box-shadow: none;
}

.hotelpage-card.card {
  border-radius: 5px !important;
}

.rule-card.card {
  border-radius: 5px !important;
}


.accordion-button:focus {
  color:#cd9a2d;
  border: none !important;
  box-shadow: none !important;
  background-color: white;
}

.accordion-button:hover{
  color:#cd9a2d;
  border: none !important;
  box-shadow: none !important;
  background-color: white;
}
.accordion-button:active{
  color:#cd9a2d;
  border: none !important;
  box-shadow: none !important;
  background-color: white;
}

.hotelpage-accordion-header .accordion-button:not(.collapsed) {
  color:#cd9a2d !important;
}

.hotelpage-accordion-header .accordion-button::after {
  width: 0.0 !important;
  height: 0.0 !important;
  background-size: 0.8rem !important;
  margin-left: 5px !important;
  margin-top: 5px;

}

.room-btn.btn {
  background-color: transparent;
  border-color: transparent;
  font-size: large;
  padding-top: 0px !important;
  box-shadow: none !important;
}

.room-btn.btn:hover {
  color: #cd9a2d;
}

.modal-images {
  width: 100%;
}

#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  height: 480px;
}
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(http://127.0.0.1:8000/media/roomImages/room1.jpg);
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url(http://127.0.0.1:8000/media/roomImages/room2.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(http://127.0.0.1:8000/media/roomImages/room3.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}

/* CAROUSEL INDICATORS */
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  width: 152px;
  height: auto;
  max-height: 102px;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 1px;
}
#thumbnail-preview-indicators .carousel-indicators li.active {
  border: 1px solid black;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  width: 150px;
  height: auto;
  max-height: 100px;
  overflow: hidden;

  opacity: 0.8;
  display: block;
  padding: 0;
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  transition: all 550ms ease-out;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators
  .carousel-indicators
  li.active
  > .thumbnail:hover {
  position: relative;
  display: block;
  border: 1px solid white;
  opacity: 1;
  transform: scale(1.5);
  z-index: 1;
}
#thumbnail-preview-indicators
  .carousel-indicators
  li.active
  > .thumbnail:hover {
  border: 1px solid whitesmoke;
}

.bi-star-fill.bi{
  color:#FFB302;
}

.cancelation-rules.accordion-body{
  color:lightcoral;
}


@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1440px) {
}
