.top-hotels .card-footer,
.new-hotels .card-footer {
  background-color: transparent !important;
  border-top: none !important;
  display: flex;
  justify-content: space-between;
}

.rate-icon-style {
  color: #cd9a2d;
}

.new-label {
  color: white;
  border: 1px solid #ff0037;
  border-radius: 25px;
  background-color: #ff0037;
  width: 30%;
  text-align: center;
}
